<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rammetto+One">
	<link rel="stylesheet" type="text/css" href="./health-bar.css">
</head>

<div class="container" id="container">
	<div class="displayDamage" id="displayDamage"></div>
	<img class="image gif flip" id="gif" src="./idle.gif" alt="gucci gang">
	<span class="damageDealer" id="damageDealer"></span>
</div>

<script src="./health-bar.js"></script>
