.container {
  display: flex;
	position: relative;
	width: 100%;
}

.health-bar-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 126px;
  left: 229px;
}

.health-bar {
  border-style: solid;
  border-width: 1px;
  width: 984px;
  height: 66px;
  background-color: grey;
}

.health {
	position: relative;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, hsl(120, 100%, 30%), 	hsl(120, 100%, 60%));
	transition: 0.5s;
	bottom: 66px;
}

.health-red {
	z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(0, 100%, 30%), 	hsl(0, 100%, 60%));
    transition: 1s;
}

.health .count {
  font-family: 'Rammetto One', cursive;
  color: white;
  padding-left: 15px;
  font-size: 50px;
  align-self: center;
}

.progress-bar {
	z-index: 2;
	display: flex;
  flex-direction: column;
  position: absolute;
  left: 162px;
}

.gif {
	margin: auto;
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.damageDealer {
	position: absolute;
	top: 250px;
	left: 15px;
	z-index: 2;
	font-family: 'Rammetto One', cursive;
	color: white;
	font-size: 25px;
	width: 100%;
	text-align: center;
}

.displayDamage {
	font-family: 'Rammetto One', cursive;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 25px;
	top: 50px;
	left: 40px;
	color: red;
	text-shadow: 2px 2px black;
}

.displayDamage.fadeIn {
	animation: fadeIn 0.2s;
}

.displayDamage.slideOutUp {
	animation: slideOutUp 1s;
}

/* SHAKING ANIMATION ON HIT */
.damageDealer.shake {
	animation: tada 0.4s;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}